Screen {
    align: center middle;
}

.title-box {
    align: center middle;
    border: transparent;
    width: auto;
    height: auto;
}

.log-box-container {
    border: heavy blue;
    align: center middle;
    height: 10;
    width: 60%;
}

# Log()
.log-window {
    height: 10;
    background: transparent;
}

.menu-txt {
    border: white;
    height: 10;
    width: 60%;
}

.button-box {
    align: center middle;
    border: transparent;
    width: auto;
    height: auto;
}

.spark {
    width: 20;
    border: red;
    height: 10;
    margin: 5;
}